<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>140cm</string>
		<string>145cm</string>
		<string>150cm</string>
		<string>155cm</string>
		<string>160cm</string>
		<string>165cm</string>
		<string>170cm</string>
		<string>175cm</string>
		<string>180cm</string>
		<string>185cm</string>
		<string>190cm</string>
		<string>195cm</string>
		<string>200cm</string>
	</array>
	<array>
		<string>00后</string>
		<string>90后</string>
		<string>80后</string>
		<string>70后</string>
		<string>60后</string>
	</array>
	<array>
		<string>白羊座</string>
		<string>金牛座</string>
		<string>双子座</string>
		<string>巨蟹座</string>
		<string>狮子座</string>
		<string>处女座</string>
		<string>天平座</string>
		<string>天蝎座</string>
		<string>射手座</string>
		<string>摩羯座</string>
		<string>水瓶座</string>
		<string>双鱼座</string>
	</array>
	<array>
		<string>游泳</string>
		<string>跑步</string>
		<string>瑜伽</string>
		<string>羽毛球</string>
		<string>篮球</string>
		<string>足球</string>
		<string>兵乒球</string>
		<string>网球</string>
		<string>高尔夫</string>
	</array>
	<array>
		<string>唱歌</string>
		<string>编程</string>
		<string>LOL</string>
		<string>绘画</string>
		<string>视频剪辑</string>
		<string>PS</string>
		<string>平面设计</string>
		<string>钢琴</string>
		<string>小提琴</string>
	</array>
	<array>
		<string>内向</string>
		<string>开朗</string>
		<string>活泼</string>
		<string>大大咧咧</string>
		<string>外向</string>
		<string>豪放</string>
		<string>温柔</string>
		<string>谦虚</string>
		<string>自信</string>
		<string>坚强</string>
	</array>
	<array>
		<string>销售</string>
		<string>建筑设计</string>
		<string>蓝领</string>
		<string>白领</string>
		<string>金领</string>
		<string>公务员</string>
		<string>职业经理人</string>
		<string>金融人才</string>
		<string>人力资源</string>
		<string>律师</string>
		<string>教师</string>
		<string>房地产经纪人</string>
		<string>网络工程</string>
		<string>程序员</string>
		<string>产品经理</string>
		<string>项目经理</string>
		<string>秘书</string>
		<string>行政人员</string>
	</array>
	<array>
		<string>小学</string>
		<string>初中</string>
		<string>高中</string>
		<string>专科</string>
		<string>本科</string>
		<string>研究生</string>
		<string>硕士</string>
		<string>博士</string>
		<string>博士后</string>
	</array>
</array>
</plist>
